<%- include('header');-%>
    <div class="container justify-content-center">
        <p class="h1">Universidad de El Salvador<br/> Progrmacion lll</p>
       <h2><%= Carnet %></h2>
        <p class="h3"><%= nombre %><br/> <%= apellidos %></p>
    </div>

    <%- include('footer');-%>